.MainChat
  .MainChat__MainHeader
    .MainHeaderItems__LeftBox
      %h2(class="MainHeaderItems__GroupName") 
        = @group.name
      %ul(class="MainHeaderItems__MemberInfo") 
        %p(class="MemberInfo") Member :
        %li(class="MemberInfo__MemberLists") 
          - @group.users.each do |user|
            = user.name
    .MeinHeaderItems__EditBtn--Right
      = link_to edit_group_path(@group) do
        .Edit(class="EditBtn")
          Edit
  .MainChat__Messages
    = render @messages
  .MainChat__Form
    = form_for [@group, @message] do |f|
      .NewMessage__InputBox
        = f.text_field :content, class: 'NewMessage__Input', placeholder: 'type a message'
        = f.label :image, class: 'NewMessage__PicIcon' do
          %i.fa.fa-image
          = f.file_field :image, class: 'PicIcon__Image'
      = f.submit 'Send', class: 'NewMessage__SubmitBtn'

