.SideBar
  .SideBar__SideHeader
    .SideHeaderItems
      %p(class="SideHeaderitems__UserName") 
        = current_user.name
      %ul(class="SideHeaderItems__icons")
        %li(class="GroupCreationIcon") 
          =link_to new_group_path, class:"EditIcon" do
            %i.fa.fa-edit
        %li(class="ToolIcon")
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog
  .SideBar__SideGroups
    - current_user.groups.each do |group|
      .GroupsItems
        = link_to group_messages_path(group) do
          .GroupItems__GroupName
            = group.name
          .GroupItems__GroupMessage
            = group.show_last_message
